<!DOCTYPE html>
<html>
  <head>
    <title>API Web Interface</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="clientId" placeholder="Client ID">
      <input type="text" v-model="number" placeholder="Number">
      <input type="text" v-model="operatorCode" placeholder="Operator Code">
      <input type="text" v-model="tag" placeholder="Tag">
      <input type="text" v-model="timezone" placeholder="Timezone">
      <button @click="getClient">Get Client</button>
      <button @click="createClient">Create Client</button>
      <button @click="deleteClient">Delete Client</button>
      <br><br>
      <input type="text" v-model="mailingId" placeholder="Mailing ID">
      <input type="text" v-model="launchTime" placeholder="Launch Time">
      <input type="text" v-model="messageText" placeholder="Message Text">
      <input type="text" v-model="endTime" placeholder="End Time">
      <button @click="createMailing">Create Mailing</button>
      <ul>
        <li v-for="client in clients" :key="client.client_id">{{ client }}</li>
      </ul>
    </div>
  <script>
  const app = new Vue({
  el: '#app',
  data: {
    clientId: '',
    number: '',
    operatorCode: '',
    tag: '',
    timezone: '',
    clients: [],
    mailingId: '',
    launchTime: '',
    messageText: '',
    endTime: '',
  },
  methods: {
    async getClient() {
      try {
        const response = await axios.get(`http://127.0.0.1:8000/client/`, {
          params: {
            client_id: this.clientId,
          },
        });
        this.clients = response.data;
      } catch (error) {
        console.error(error);
      }
    },
    async createClient() {
      try {
        await axios.post(`http://127.0.0.1:8000/client/`, {
          client_id: this.clientId,
          number: this.number,
          operator_code: this.operatorCode,
          tag: this.tag,
          timezone: this.timezone,
        });
      } catch (error) {
        console.error(error);
      }
    },
    async deleteClient() {
      try {
        await axios.delete(`http://127.0.0.1:8000/client/`, {
          params: {
            client_id: this.clientId,
          },
        });
      } catch (error) {
        console.error(error);
      }
    },
    async createMailing() {
      try {
        await axios.post(`http://127.0.0.1:8000/mailing/${this.mailingId}/${this.launchTime}/${this.messageText}/${this.operatorCode}/${this.tag}/${this.endTime}`);
      } catch (error) {
        console.error(error);
      }
    },
  },
});

  </script>

</body>
</html>
